.activities {
    background-color: #f5f5f5;
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 225px;
    min-height: 370px;
}
@media (min-width: 768px) {
    .activities {
        height: calc(100vh - 65px);
    }
}

.activity_picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 72px;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1024px){
    .activity_picture {
        margin-top: 56px;
    }
}

.activities img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity {
    position: absolute;
    height: 45%;
    width: 60%;
    background-color: #f5f5f5;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.70);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    color: #333333;
}

.title {
    font-size: 20pt;
    margin: 0;
}

.description {
    font-size: 11pt;
    margin: 0.5rem 0;
}

.read-more-button {
    bottom: 1rem;
    padding: 0.5rem;
    background-color: #389f98;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    border-radius: 6px;
}

.read-more-button:hover {
    background-color: #28716c;
}

@media screen and (min-width: 425px){
    .activities {
        min-height: 290px;
    }
    .activity {
        height: 35%;
    }
    .read-more-button {
        padding: 0.75rem;
    }
}
@media screen and (min-width: 600px){
    .title {
        font-size: 22pt;
    }
    .description {
        font-size: 13pt;
    }
}
@media screen and (min-width: 768px){
    .title {
        font-size: 24pt;
    }
    .description {
        font-size: 14pt;
        margin-top: 0;
    }
    .read-more-button {
        font-size: 12pt;
    }
}
@media screen and (min-width: 1024px){
    .title {
        font-size: 28pt;
    }
    .description {
        font-size: 15pt;
    }
    .read-more-button {
        padding: 1rem;
    }
}
@media screen and (min-width: 1500px){
    .activity {
        height: 25%;
    }
    .title {
        font-size: 34pt;
    }
    .read-more-button {
        font-size: 13pt;
    }
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 61vw;
    position: absolute;
}

.nav-button {
    background-color: #389f98;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 36px;
    text-align: center;
}

.nav-button:hover {
    background-color: #28716c;
}
