.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: calc(100vh - 105px);
    min-width: 225px;
    min-height: 760px;
}
@media screen and (min-width: 380px) {
    .contact {
        min-height: 780px;
    }
}
@media screen and (min-width: 768px) {
    .contact {
        height: calc(100vh - 65px);
        min-height: 755px;
    }
}
@media screen and (min-width: 1024px) {
    .contact {
        height: calc(100vh - 65px);
        min-height: 430px;
    }
}

.contact-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 72px;
}
@media screen and (min-width: 1024px) {
    .contact-grid {
        flex-direction: row;
        margin-top: 56px;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1rem;
}
@media screen and (min-width: 1024px) {
    .contact-info {
        align-items: start;
        text-align: left;
        margin: 0 5rem 0 1rem;
    }
}

.contact-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: #333333;
}
@media screen and (min-width: 1024px) {
    .contact-title {
        font-size: 3rem;
    }
}

.contact-description {
    font-size: 1.125rem;
    color: #333333;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 1rem;
    color: #333333;
    opacity: 0.7;
    height: 10rem;
}

.contact-detail {
    display: flex;
}

.icon-wrapper {
    flex: none;
}

.contact-icon {
    width: 1.5rem;
    height: 1.75rem;
    color: #389f98;
}

.contact-link {
    text-decoration: none;
}

.map-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
    .map-info {
        margin-bottom: 0;
    }
}

.map-info iframe {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.40);
}
@media screen and (min-width: 380px) {
    .map-info iframe {
        width: 300px;
        height: 300px;
    }
}
@media screen and (min-width: 1024px) {
    .map-info iframe {
        width: 350px;
        height: 350px;
    }
}