.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0;
    min-height: calc(100vh - 105px);
}
@media (min-width: 768px) {
    .gallery {
        min-height: calc(100vh - 65px);
    }
}

.slider {
    width: 90%;
    max-width: 800px;
    margin-top: 5rem;
}

.gallery p {
    font-size: 0.8rem;
    margin-top: 0;
}