.gallery {
    background-color: #f5f5f5;
    position: relative;
    height: 83.5vh;
    align-content: end;
}

.gallery .slider {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 4rem;
}

.gallery p {
    font-size: 0.9rem;
}