.story {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 225px;
}

.story_content {
    margin: 5rem 4rem;
    width: 100%;
}

.story_content h1 {
    text-align: center;
    color: #333333;
}

.story_picture {
    margin-top: 1rem;
    height: auto;
    width: auto;
    max-width: 90%;
}
@media screen and (min-width: 375px) {
    .story_picture {
        max-width: 70%;
    }
}
@media screen and (min-width: 500px) {
    .story_picture {
        max-width: 60%;
        max-height: 400px;
    }
}