html, body {
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: medium;

  /*color: #913547;*/
  color: #389f98;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root a {
  color: inherit;
  text-decoration: none;
}

:root a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
  }
}