.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(100px);
    border-bottom: gray 1px solid;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: black;
}

.logo {
    height: 50px;
    margin: 0.4rem 0 0 1rem;
}

.nav {
    margin-right: 1rem;
}

.nav a {
    margin: 0 1rem;
    text-decoration: none;
    opacity: 0.6;
    transition: opacity 0.3s;
}
.nav a:hover {
    opacity: 1;
}